= simple_form_for @sample do |f|
  .inputs.clearfix
    = f.input :name
    = f.input :description
    = f.input :screenshot, :as => :file
    = f.input :demo
    = f.association :category, :collection => Category.all(:order => 'name'), :prompt => "Choose a Category"
  .actions.clearfix
    = f.submit 'Save'
