= simple_form_for @sample do |f|
  .inputs.clearfix
    = f.input :name
    = f.input :description
    = f.input :screenshot, :as => :file
    = f.input :demo
  .actions.clearfix
    = f.submit 'Save'
