%p#notice= notice

.left
  %h2= @sample.name 
.right
  %br
  = link_to 'Edit', edit_sample_path(@sample)

%br
%br.both

%pre= @sample.description
- if @sample.screenshot_file_name?
  =link_to image_tag(@sample.screenshot.url :large), @sample.screenshot.url

%br
=link_to "Demo", "/#{@sample.demo}"


/= link_to 'Back', samples_path
